<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Swift Search</title>
</head>
<body>
    <p th:text="'Query: ' + ${queryResult.getQuery()}" />
    <p th:text="'Request completed in ' + ${queryResult.getDuration() / 1000} + 's.'" />
    <p th:text="'There are ' + ${queryResult.getResultsCount()} + ' results.'" />
    <p th:text="'Current page: ' + ${queryResult.getPage()}" />
    <p>Results: </p>
    <div th:each="resultEntry: ${queryResult.getResults()}">
        <a th:text="${resultEntry.getTitle()}" th:href="${resultEntry.getUrl()}"/>
    </div>
</body>
</html>